
body {
    --color1: hsla(74, 10%, 47%, 1);
    --color2: hsla(0, 0%, 97%, 1);
    --color3: hsla(24, 58%, 56%, 1);
    --color4: hsla(0, 24%, 39%, 1);
    --color5: hsla(0, 0%, 65%, 1);
    
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--color3);
}

header {
    display: flex;
    justify-content: center;
    width: 1000px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color2);
    margin-bottom: 10px;
    border: solid 1px var(--color4);
}

#header-h1, #logo-name, #logo-name1, #us {
    font-family: 'Shrikhand';
    font-style: normal;
    font-size: 2rem;
    color: var(--color4);
}

#logo-name {
    color: var(--color3);
    margin-left: -16px;
}

#logo-name1 {
    color: var(--color5);
    margin-left: -6px;
}

#us {
    color: var(--color5);
    margin-left: -5px;
    margin-right: 10px;
}

img {
    border: solid 3px var(--color4);
    margin-top: 10px;
    height: 100px;
}

input {
    display: none;
}

h3 {
    cursor: pointer;
}

#logo {
    height: 25px;
    padding-left: 4px;
    padding-top: 0;
    border: none;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--color2);
    background-color: var(--color1);
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    max-width: 80%;
}

.nav-links {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--color2);
    font-family: 'Nunito Sans';
    font-size: .8rem;
    font-weight: bolder;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background-color: var(--color2);
    width: 1000px;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: solid 1px var(--color4)
}

.oregon {
    grid-column: 1 / span 20;
    grid-row: 1 / span 20;
    height: 100%;
    max-height: 90%;
    width: 100%;
    max-width: 90%;
    justify-self: center;
    position: relative;
}

.coast-region {
    transform: rotate(90deg);
    grid-column-start: 3;
    text-align: center;
    grid-row: 6 / span 5;
    z-index: 1;
}

.sw-region {
    grid-column: 6 / span 4;
    text-align: center;
    grid-row: 16 / span 2;
    z-index: 1;
}

.nw-region {
    grid-column: 6 / span 4;
    text-align: center;
    grid-row: 6 / span 2;
    z-index: 1;
}

.central-region {
    grid-column: 6 / span 4;
    text-align: center;
    grid-row: 10 / span 2;
    z-index: 1;
}

.east-region {
    grid-column: 13 / span 4;
    text-align: center;
    grid-row: 10 / span 2;
    z-index: 1;
}


.region-info {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
}

label > img, h4 {
    cursor: pointer;
}



.hidden {
    display: none;
}